#main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#options {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

#sketchPad {
    display: flex;
    height: 600px;
    width: 600px;
    border:20px solid red;
}

.columns {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    color: white;
}

.squares {
    display: flex;
    flex: 1 1 auto;
    border: 1px solid black;
    color: white;
}